            /* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    max-width: 100%;
}

:root {
    --bordo: 2px dashed black;
    --padding: 40px 10px;
}

.container {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    padding: 15px 0;
}

button {
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: none;
}

.jumbotron > .buttons {
    text-align: center;
    padding-top: 20px;
}
                /* HEADER*/

header {
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-wrapper {
    padding: 15px 0;
    display: flex;
}

.header-tab {
    display: flex;
    justify-content: end;
    padding: 10px;
}
                /* logo header */

.small {
    flex-basis: 20%;
}

#header-logo {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: left;
}
                /* link header */

.large {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.large a {
    text-decoration: none;
    color: white;
}
                /* header-button */

.small > .header-button {
    background-color: white;
    padding: 4px 10px;
    border: none;
    color: black;
}

                /* JUMBO */
                
.jumbotron {
    padding: var(--padding);
}
                
.jumbotron h1 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 25px;
}
                
.jumbotron p {
    width: 60%;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
                
button:last-child {
    background-color: #222629;
    color: white;
}
                

                /*MAIN*/

.row .container {
    min-height: 400px;
    display: flex;
    padding: var(--padding);
}

.row:nth-of-type(even) {
    background-color: #d3d3d3;
}

                /* box di testo */
.box-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    gap: 30px;
}
                
                /* immagini */
.img {
    width: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}
            
#study-group {
    background-image: url("../img/item1.svg");
}
            
#just-chilling {
    background-image: url("../img/item2.svg");
}

#fandom {
    background-image: url("../img/item3.svg");
}

                /* Download */

.row > .download {
    display: flex;
    flex-direction: column;
    align-items: center;     
    padding: var(--padding);
}

.download > .text {
    text-align: center;
}
 
.download > .text p {
    margin: 0 auto;
    width: 60%;
}

.download > .background-img {
    width: 100%;
    height: 550px;
    background-image: url("../img/item4-big.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.download > h3 {
    background-image: url("../img/stars.svg");
    padding-top: 25px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    width: 54%;
    text-align: center;
    font-size: 1.5rem;
}

.download > .download-mac {
    background-color: #8da0e0;
    padding: 10px 20px;
    font-size: 1.2rem;
}
           
                /* FOOTER */

footer {
    background-color: #23272a
}

        /*footer-columns*/
footer > .footer-column {
    padding-top: 40px 0;
    display: flex;
    border-bottom: 1px solid white;
}

            /* column-big */
.footer-column > .column-big {
    width: 30%;
}

.footer-column p {
    font-size: 1.7rem;
    color: #6174b5;
}
 
.column-big > button {
    padding: 10px 0;
    background-color: transparent;
}

.column-big > button > img {
    width: 15px;
}

.column-big > nav > a {
    padding-right: 15px;
}
footer span, a {
    color: white;
    text-decoration: none;
}

            /* column-small */
.column-small {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
            
.column-small p {
    padding-top: 10px;
    font-size: 1rem;
}

.column-small > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-small  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-small nav > a {
    padding: 5px 0;
}
                /* footer logo e bottone */

.footer-bottom {
    margin-top: 1px;
    padding-top: 15px;
}

.footer-bottom > .container {
    height: 100px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 100px;
    height: 30px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer-bottom .footer-button {
    padding: 8px 15px;
    background-color: #a1b0e5;
}
